<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="conexao" connectionString="datasource=186.202.152.30;username=database;password=senha;database=database;"
			 providerName="MySql.Data.MySqlClient;"/>
	</connectionStrings>
	
</configuration>